/* Blur Account Info */

[class*="field"]:not(:first-child) > [class*="constrainedRow"] > div > div {
    filter: blur(5px);
    transition: filter 0.2s ease-in-out;
}
[class*="field"]:not(:first-child) > [class*="constrainedRow"] > div > div:hover {
    filter: none;
}

/* Colored context menus */

.menu-2TXYjN { 
    background: linear-gradient(145deg, #2a2465 35%, #0a0818);
    border: 2px solid #493fb1;
    border-radius: 15px;
}

/* Better Account Details Grid */

.background-3d_SjE {
    background-color: transparent;
    padding: 0;
}
.fieldList-in8WkP {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.field-21XZwa {
    width: 100%;
    border-radius: 8px;
    background-color: var(--background-primary);
    max-height: unset;
    flex-direction: column;
    display: flex;
    padding: 15px;
    margin-top: 0;
    overflow-y: auto;
    height: 120px;
    margin-bottom: 0;
}
.field-21XZwa .fieldButton-14lHvK {
    background-color: var(--button-secondary-background);
    border-radius: 6px;
    -webkit-transition: background-color .17s ease,color .17s ease;
    transition: background-color .17s ease,color .17s ease;
}
.field-21XZwa .fieldButton-14lHvK:hover {
    background-color: var(--button-secondary-background-hover);
}
.field-21XZwa .fieldButton-14lHvK:hover > div {
    background: none;
}
.field-21XZwa .fieldButton-14lHvK {
    width: 100%;
    margin-right: 0;
    position: relative;
}
.field-21XZwa .fieldButtonList-28BYbB {
    gap: 5px;
}
.field-21XZwa::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.field-21XZwa::-webkit-scrollbar-corner {
    background-color: transparent;
}
.field-21XZwa::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px;
}
.field-21XZwa::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-track);
}
.field-21XZwa::-webkit-scrollbar-thumb,
.field-21XZwa::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

/* Make pronouns stand out more */

[class*=pronouns] {
  color: var(--text-normal);
  font-size: 12px; font-weight: 800;
  background: #ff2a2aaa;
  animation: 3s infinite gay linear;
  padding: 0.10rem 0.5rem; margin: 0.25rem 0 0 0;
  border-radius: 1rem;
}

@keyframes gay {
    0% {filter: hue-rotate(0deg);}
    100% {filter: hue-rotate(360deg);}
}
