.header__725f2 {
    min-height: 45px!important;
}
.clickable_bf76d2 {
    top: -40px;
}
[class*="userProfileOuter"] [class^="bannerSVGWrapper"] {
    display: none !important
}

[class*="userProfileOuter"] [class*="avatarPosition"] {
    top: -30px !important
}

[class*="avatarUploaderNormal"],
[class*="avatarUploaderPremium"] {
    top: -30px !important
}

[class|="customizationSection"] [class|="userPopoutOuter"] {
    margin-top: 40px
}

[class|="userPanelInner"] [class*="avatarPosition"] {
    top: 12px !important
}

[class|="userPanelInner"]>[class*="scrollerBase"] {
    padding-top: 52px
}

[class*="root"][class*="fullscreenOnMobile"],
[class*="userProfileOuter"] {
    overflow: visible
}
.visibleContainer_adf761 .biteSize__4396a {
    top: -162px!important;
    left: -2px!important;
    color: var(--primary-600)!important;
}
.statusBubbleOuter__7e51b:before, .statusBubbleOuter__7e51b:after {
    display:none;
}
.invisibleContainer__1e05d biteSize__4396a {
    display:none !important;
}
